* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  
  margin: 0;
  padding: 0;
  
  height: 100%;
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}

canvas#editcanvas {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: white;
}

.container {
  margin:  0;
  padding: 0;
}

.bar {
  margin: 0;
  background: #151515;
}

.bar.top {
  width: 100%;
  height: 80px;
}

.bar.left {
  position: absolute;
  width: 120px;
  top: 80px; /* .bar.top(height) */
  bottom: 0;
  left: 0;
}

#statsbox {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  text-align: left;
}
#toolkit {
  position: absolute;
  top: 39px;
  left: 0;
  margin: 5px;
  margin-left: 10px;
}
#toolkit .tool {
  font-size: 12px;
  padding: 3px;
  margin-right: 3px;
  margin-left: 0;
  background-color: #333;
}
#toolkit .tool.selected {
  background-color: #666;
}

#menubar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  margin: 10px;
  padding: 0;  
}

#menubar > li {
  display: inline;
  margin-right: 6px;
  font-size: 12px;
  background-color: #666;
  padding: 4px;
}

#menubar > li > .dropdown {
  position: absolute;
  background-color: #333;
  z-index: 10;  
  padding: 10px;
  padding-bottom: 0;
  margin-top: 5px;
  
  border: 1px solid black;
  list-style-type: none;
}

#menubar > li > .dropdown > li {
  margin-bottom: 10px;
}

#palette {
  margin: 10px;
}
#palette tr td {
  border: 1px solid black;
  width: 45px;
  height: 30px;
  text-align: center;
  text-shadow: 1px 1px #333;
}

.setcol {
  font-size: 12px;
  background-color: #333;
  margin: 12px;
  margin-right: 16px;
  padding: 5px;
}
